@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NBA TEAMS</h1>
    <p class="lead">NBA Teams web application will show NBA teams and players in that teams. </p>
    <p><a href="http://www.nba.com/#/" class="btn btn-primary btn-lg">Click Here for recent headlines &raquo;</a></p>
</div>
<h2>Favourite Teams this Season: </h2>
<div class="row">
    <div class="col-md-4">
        <h2>Golden State Warriors</h2>
        <p>
            Golden State Warriors are coming into 2017-2018 season as defending champions. No big trades in off-season, added more shooters like Nick Young but rest of the team is same
        </p>
        <p><a class="btn btn-default" href="http://www.nba.com/warriors/">For more Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cleveland Cavaliers</h2>
        <p>Cleveland Cavaliers went through lot of trades this off-season but the major trade was trading Kyrie Irving for Isiah Thomas. This team is still number one contender to de-throne golden state warriors with Lebron James</p>
        <p><a class="btn btn-default" href="http://www.nba.com/cavaliers/">For more Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>San Antonio Spurs</h2>
        <p>San Antonio Spurs will start 2017-2018 as a most consistant team ever played in NBA. Kahwi Leonard have capability to lead this team to Western Conference Finals thsi season again. Spurs have the capability to shock NBA by beating warriors this time.  </p>
        <p><a class="btn btn-default" href="http://www.nba.com/spurs/">For more Info &raquo;</a></p>
    </div>
</div>