@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Comp2007_Assignment1.Models.TEAM>
<h2>Welcome to the Music Store</h2>
<h3>@ViewBag.Message</h3>
<ul>
    @foreach (var g in Model)
    {
        <li>@Html.ActionLink(g.TEAM_NAME, "Browse", "Team", new { team = g.TEAM_NAME }, null)</li>
    }
</ul>

